<template>
   <div class="mt-5 mb-5">

         <b-card no-body>
            
            <b-nav tabs>
               <b-nav-item :to="{ name: '' , params: { id : $route.params.id }}"
                            exact-active-class="active">
                  {{areas[$route.params.id].title}}
               </b-nav-item>
               <b-button v-b-toggle.my-collapse>
                  <span class="when-opened">Ocultar</span> <span class="when-closed">+ Areas</span>
               </b-button>
               <b-collapse id="my-collapse">
                  <b-nav tabs>
                     <b-nav-item  v-for="(item,index) in areasInactivas"
                                  :key="index"
                                  :to="{ name: 'areas' , params: { id : item.id }}"
                                  exact-active-class="active">
                        {{item.title}}
                     </b-nav-item>
                  </b-nav>
               </b-collapse>
            </b-nav>
            <component
               v-bind:is="areas[$route.params.id].component"
               class="tab"
            ></component>
         </b-card>
   </div>
</template>
<style>
   .collapsed > .when-opened,
   :not(.collapsed) > .when-closed {
      display: none;
   }
</style>

<script>
    import Area from "../components/Area.vue";
    import Area1 from "../components/Areas/Area1"
    import Area2 from "../components/Areas/Area2"
    import Area3 from "../components/Areas/Area3"
    import Area4 from "../components/Areas/Area4"
    import Area5 from "../components/Areas/Area5"
    import Area6 from "../components/Areas/Area6"
    import Area7 from "../components/Areas/Area7"
    import Area8 from "../components/Areas/Area8"
    import {mapState} from 'vuex';
    export default {
        name: "Areas",
        components:{
            Area, Area1, Area2, Area3,Area4,Area5,Area6,Area7,Area8
        },
        computed:{
            areasInactivas: function () {
                let these=this;
                return this.areas.filter(
                    function (area) {
                        return area.id!=these.$route.params.id;
                    }
                )
            },
            ...mapState(['areas']),
        }
    }
</script>
