<template >
   <div>
      <Area :src="img.src">
         <template v-slot:titulo>
            <h2>Dirección Academica</h2>
         </template>
         <template v-slot:info>
            La función principal de esta dirección es propiciar los medios para mejorar el rendimiento académico de los miembros de la
            Facultad. Durante el último semestre, ha continuado con el Programa de Estudiantes Ayudantes de Tutoría (EAT), programa
            que da la oportunidad a estudiantes, de dictar asesorías académicas en determinados cursos, además de complementar lo
            enseñado en clase por los profesores y ayudar a los alumnos con deficiencias en dichos cursos.
            <br><br>
            Este semestre, además, se creó al Bot Conversacional llamado AcademiBot, el cual está encargado de administrar una base
            de datos de material académico y distribuirla por medio de Messenger; aún en formación, AcademiBot, tiene por objetivo
            facilitar la obtención de material académico a los estudiantes de la FIIS.
         </template>
      </Area>
   </div>

</template>

<script>
   import Area from "@/components/Area.vue"
    export default {
        name: "Area1",
        components: {
            Area
        },
        data(){
            return{
                img: {titulo: '', src: require('@/assets/logo.png')}
            }
        }
    }
</script>

<style scoped>

</style>
