<template>
   <div>
      <Area :src="img.src">
         <template v-slot:titulo>
            <h2>GERENCIA DE LOGISTICA</h2>
         </template>
         <template v-slot:info>
            Las funciones principales de esta gerencia son brindar apoyo logístico a todas las actividades del CCAT, gestionar ante la autoridad competente las solicitudes de requerimientos a utilizar y velar porque los miembros del CCAT mantengan la limpieza y el orden del local del CCAT, y convocar las jornadas de limpieza en coordinación con el personal de Servicios Generales FIIS.

         </template>
      </Area>
   </div>
</template>

<script>
    import Area from "@/components/Area.vue"
    export default {
        name: "Area5",
        components:{
            Area
        },
        data() {
            return{
                img: {titulo: '', src: require('@/assets/logo.png')}
            }
        }

    }
</script>

<style scoped>

</style>
