<template>
   <div>
      <Area :src="img.src">
         <template v-slot:titulo>
            <h2>GERENCIA DE ECONOMÍA</h2>
         </template>
         <template v-slot:info>
            Las funciones principales de esta gerencia son administrar la contabilidad y finanzas del CCAT y exigir la presentación del presupuesto por actividad a los Directores y Gerentes para ser aprobada en Junta Directiva.
            <br><br>
            Las cuatro gerencias deben designar, como mínimo, un miembro de soporte para cada Dirección para velar por el desarrollo de las actividades y llevar a cabo reuniones periódicas con los miembros designados a cada dirección para revisar el avance de las actividades asignadas.
         </template>
      </Area>
   </div>
  
</template>

<script>
    import Area from "@/components/Area.vue"
    export default {
        name: "Area8",
        components:{
            Area
        },
        data() {
            return{
                img: {titulo: '', src: require('@/assets/logo.png')}
            }
        }

    }
</script>

<style scoped>

</style>
