<template>
   <div>
      <Area :src="img.src">
         <template v-slot:titulo>
            <h2>GERENCIA DE MARKETING</h2>
         </template>
         <template v-slot:info>
            Las funciones principales de esta gerencia son gestionar la estrategia de marketing del CCAT, identificar y desarrollar los canales de difusión de la marca CCAT y sus productos y, desarrollar investigaciones de mercado para identificar insights que permita consolidar los vínculos internos y externos de la marca CCAT.
         </template>
      </Area>
   </div>
  
</template>

<script>
    import Area from "@/components/Area.vue"
    export default {
        name: "Area6",
        components:{
            Area
        },
        data() {
            return{
                img: {titulo: '', src: require('@/assets/logo.png')}
            }
        }

    }
</script>

<style scoped>

</style>
