<template>
   <div>
      <b-carousel
         id="carousel-1"
         v-model="slide"
         :interval="4000"
         controls
         indicators
         img-width="1024"
         img-height="480"
         style="text-shadow: 1px 1px 1px #333;"
      >
         <b-carousel-slide v-for="item in sliders"
                           :caption="item.title"
                           :text="item.info" >
            <img
               slot="img"
               class="d-block img-fluid w-100"
               :src='item.image'
               alt="image slot">
         </b-carousel-slide>
      </b-carousel>
      <br>
      <br>
   </div>
</template>

<script>
    export default {
        name: "Carrousel",
        data() {
            return {
                slide: 0,
                sliders: [
                    { title: "Foto 1",
                        info:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eros felis, tincidunt',
                        image: "https://picsum.photos/1024/480/?image=52" },
                    { title: "Foto 2",
                        info:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eros felis, tincidunt',
                        image: "https://picsum.photos/id/54/1024/480" },
                    { title: "Foto 3",
                        info:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eros felis, tincidunt' ,
                        image: "https://picsum.photos/1024/480/?image=58" },
                     { title: "Foto 4",
                         info:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eros felis, tincidunt',
                        image: "https://picsum.photos/1024/480/?image=55" },
                ],
            }
        },
 
    }
</script>
