<template>
   <footer class="footer mt-5">
      <b-container class="text-white">
         <b-row >
            <div class="col-12 col-md-4 col-lg-3 mt-5">
               <h4>Redes Sociales</h4>
               <p>
                  <i class="fab fa-facebook-square"></i>
                  <b-link href="https://www.facebook.com/ccat.uni.fiis/">  Facebook</b-link>
               </p>
               <p>
                  <i class="fab fa-instagram"></i>
                  <b-link href="https://www.facebook.com/ccat.uni.fiis/">  Instagram</b-link>
               </p>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-5 mb-5">
               <h4 id="contacto">Contacto</h4>
               <p>Direcci&oacute;n: Facultad de Ingeniería Industrial y de Sistemas - UNI, Rímac Lima
                  <br> Tel&eacute;fonos:
                  <br> Email: ccat.uni@gmail.com
               </p>
            </div>
            <div class="col-12 col-md-4 col-lg-5 mt-5  mb-5 " >
               <h4>Mapa</h4>
               <iframe class="border border-primary"
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31218.276875259377!2d-77.06401491015625!3d-12.023916794062272!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc6864515c9c18f7f!2sCentro+Cultural+Avanzada+Tecnol%C3%B3gica!5e0!3m2!1ses-419!2spe!4v1565719883441!5m2!1ses-419!2spe" width="350" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
         </b-row>
      </b-container>
   </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>
   
   a{
      color: white;
   }
   .footer {
     /*background-image: url("https://i.stack.imgur.com/AZ2Xw.png");*/
      background-repeat: no-repeat;
      background-position: center;
      background-color: rgba(39, 113, 255, 0.96);
      width: 100%;
      min-height: 300px;
   }
</style>
