<template>
   <b-card :title="data.title" :img-src="data.img" img-alt="Image" img-top>
      <b-card-text>{{data.text}}</b-card-text>
      <div slot="footer"><small class="text-muted">Last updated 3 mins ago</small></div>
   </b-card>
</template>

<script>
    export default {
        name: "Tarjeta",
        props: {
            data: Object,
        }
    }
</script>

<style scoped>

</style>
